<header class="bg-blue-950">
  <div class="max-w-[1260px] mx-auto px-5 py-16">
    <app-navbar></app-navbar>
    <app-hero></app-hero>
  </div>
</header>

<main>
  <section class="bg-blue-950">
    <div class="max-w-[1260px] mx-auto px-5 py-16">
      <app-features-section>John</app-features-section>
    </div>
  </section>

  <section class="bg-blue-950">
    <div class="max-w-[1260px] mx-auto px-5 py-16">
      <app-faq-section></app-faq-section>
    </div>
  </section>

  <section class="bg-blue-950">
    <div class="max-w-[1260px] mx-auto px-5 py-16">
      <app-cta-section></app-cta-section>
    </div>
  </section>
</main>

<footer class="bg-blue-950">
  <div class="max-w-[1260px] mx-auto px-5 py-16">
    <app-footer></app-footer>
  </div>
</footer>
